.landing-page-wrapper{
  height: 100vh;
  width: 100%;
}

.lpw__landing-page{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  height: 90%;
}

/* --------header------- */
.landing-page__header-container{
  margin: 40px 10px;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lp-hc__title{
  font-size: 36px;
  font-weight: bold;
  color: #98ACF8;

}

/* content cards*/
.landing-page__content-container{
  display: flex;
  max-width: 1200px;
  justify-content: flex-start;
  flex-wrap: wrap;
}


/* footer */
.landing-page__footer-container{

}
