/*----- FORM LABELS, TITLES, ETC -----*/
.qdfc__header{
  font-size: 24px;
  color: #8fa0e4;
  font-weight: bold;
}

.title-input-container, .description-input-container{
  margin: 15px 0px;
}

/*----- FORM INPUT FIELDS -----*/
.quiz-deck-form-container{
  min-width: 50vh;
  min-height: 50vh;
  padding: 50px;
  /* background-color: white; */
}
.quiz-deck-form-title{
  outline: none;
  padding: 4px;
  width: 90%;
  border: none;
  border-left: 2px solid #e6b8c47e;
  /* margin-left: 20px; */
  margin-top: 3px;
  transition: all 0.1s ease-in-out;
}
.quiz-deck-form-title:focus, .quiz-deck-form-title:hover{
  border-left: 2px solid #CD5D7D;
}

.quiz-deck-form-text-area {
  margin: 0;
  min-height: 120px;
  resize: none;
  width: 90%;
  padding: 8px;
  outline: none;
  margin-top: 3px;
  border: none;
  border-left: 2px solid #e6b8c47e;
  transition: all 0.1s ease-in-out;
  overflow: auto;
}
.quiz-deck-form-text-area:focus, .quiz-deck-form-text-area:hover{
  border-left:2px solid #CD5D7D;
}

.quiz-deck-form-toggle-private{
  border-left: 2px solid #e6b8c47e;
  padding-left: 9px;
  display: flex;
	margin-bottom: 20px;
	overflow: hidden;
  transition: all 0.1s ease-in-out;
  padding-top: 5px;
  padding-bottom: 5px;
}

.quiz-deck-form-toggle-private:hover{
  border-left:2px solid #CD5D7D;
}


.quiz-deck-form-toggle-private input {
	position: absolute !important;
	height: 1px;
	width: 1px;
	border: 0;
}

.quiz-deck-form-toggle-private label{
	background-color: #eeeeee;
	color: rgb(0, 0, 0);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	transition: all 0.1s ease-in-out;
  /* border-radius: 4px; */
  border: none;
}

.quiz-deck-form-toggle-private label:hover {
	cursor: pointer;
}

.quiz-deck-form-toggle-private input:checked + label {
	background-color: #98abf875;
	box-shadow: none;
}
/* select directory */

.quiz-deck-form-select-directory{
  border-left: 2px solid #e6b8c47e;
  padding-left: 9px;
  display: flex;
	margin-bottom: 20px;
	overflow: hidden;
  transition: all 0.1s ease-in-out;
  padding-top: 5px;
  padding-bottom: 5px;
}
.quiz-deck-form-select-directory:hover{
  border-left:2px solid #CD5D7D;
}
.qdfsd__container{
  /* padding: 5px; */
  display: flex;
  padding: 8px 12px;
}

.qdfsd__container:hover{
  background-color: #98abf875;
  border-radius: 10px;
  cursor: pointer;
}

.selected-directory-name{
  /* font-weight: 660; */
  /* text-decoration: underline; */
  /* text-decoration-color: #e6b8c47e; */

}
.selected-workspace-name{
  color: rgb(175, 175, 175);
}

.qdfsd__container:hover .directory-icon{
  color: #CD5D7D;
}

.qdfsd__container:hover .selected-workspace-name{
  color: black;
}

.directory-icon{
  color: #e6b8c47e;
  margin-right: 2px;
  padding-right: 8px;
  padding-top: 2px;
}
.qdfsd-c__change-directory{
  font-size: 14px;
}



/*----- button to create form -----*/
.create-deck-button-container{
  /* position: relative; */
}


.create-deck-form-button{
  padding: 9px 20px;
  /* width: 40%; */
  background-color: #8fa0e4;
  border-style: none;
  border-radius: 15px;

  color: white;
  font-size: 12px;
  font-weight: bold;
  min-width: 70px;
  text-align: center;
  box-shadow: 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  display: flex;
  margin-top: 5px;
  margin-right: 25px;
  position: absolute;
  right:20px;
  bottom: 40px;
}

.create-deck-form-button:hover{
  box-shadow: 0 4px 8px rgba(0,0,0,0.22);
  cursor: pointer;
  background-color: #98ACF8;
}

.start-deck-arrow{
  margin-top: 3px;
  margin-left: 6px;
}
