.colors{
  color: #F9ECEC;
  color: #F0D9DA;
  color: #C8D9EB;
  color: #ECF2F9;
  color: #cbdafa;

  color: #CDF0EA;
  color: #F9F9F9;
  color: #F7DBF0;
  color: #BEAEE2;

  color: #FFD5CD;
  color: #EFBBCF;
  color: #C3AED6;
  color: #8675A9;

  color: #BEDCFA;
  color: #98ACF8;
  color: #B088F9;
  color: #DA9FF9;


  color: #fffcfc;
  color: #f7f3f3;
  color: #31326F;
  color: #0F3057;
  color: #9A8194;
  color: #DEEDF0;


  color: #8fa0e4;
  color: #98ACF8;
  color: #7868E6;
  color: #BEDCFA;


  color: #949CDF;
  color: #A7C5EB;
  color: #F6ECF0;
  color: #CD5D7D;
  color: rgb(249, 253, 255);
  /* rgb(243, 245, 246); */

  /* CURRENT */
  color: #fffcfc;
  color: #98ACF8;
  color: #CD5D7D;
  color: #e6b8c47e;
  color: #eeeeee;;
  color: #969696;
  color: #C8D9EB;
  color: rgb(243, 245, 246);
  color: rgb(175, 175, 175);


}
