/* ---------------workspace-container-------------- */

.workspace-container{
    width: 100vw;
    margin: auto;
    min-height: calc(100vh - 60px);
    display: grid;
    grid-template-columns: 250px 1fr;
    /* gap: 10px; */
    grid-auto-rows: minmax(100px, auto);
}

/* ---------------workspace-navigation-------------- */
.wc__directories-nav{
  grid-column: 1;
  grid-row: 1;
  border-bottom: 1px solid rgb(201, 201, 201);
  border-right: 1px solid rgb(201, 201, 201);
  /* padding-top: 50px; */
  padding-left: 10px;
}


/* --------------Workspace directories nav--------------- */
.workspace-directories__default, .workspace-nav{
  padding: 10px;
  /* background-color: #f1f1f1; */
  border-bottom: 1px solid rgb(201, 201, 201);
  /* border-top: 1px solid rgb(201, 201, 201); */
  border-left: 7px solid #d3d3d3;
  /* box-shadow: 0 1px 2px rgba(0,0,0,0.24); */
  cursor: pointer;
  margin: 3px 0px 0px 5px;
  font-size: 17px;
  color: #505050;
}

.directory-nav{
  padding: 10px;
  cursor: pointer;
  margin: 2px 0px;
  margin-left: 32px;
  border-left: 7px solid #d3d3d3;
  border-bottom: 1px solid rgb(201, 201, 201);
  border-top: 1px solid #f1f1f1;
  color: #505050;
  font-size: 14px;
}
.directory-nav, .workspace-nav, .workspace-directories__default{
  /* background-color: #F9F9F9; */
}

.workspace-directories__default:hover, .workspace-nav:hover, .directory-nav:hover{
  background-color: #EBEBEB;
}
.workspace-selected{
  padding: 10px;
  border-left: 7px solid #98ACF8;
  cursor: pointer;
  background-color: #EBEBEB;
}
.directory-selected{
  padding: 10px;
  border-left: 7px solid #98ACF8;
  background-color: #EBEBEB;
  /* border-top: 1px solid rgb(201, 201, 201); */
}
/* ---------------workspace-content-------------- */
.wc__content-container{
  grid-column: 2;
  grid-row: 1;
  width: 100%;
}
.wc-cc__header{
  min-height: 60px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 8px;
}
.cc-header__bread-crumbs{
  margin-left: 50px;
  font-size: 14px;
  color: #505050;

}

/* files and metadata */
.wc-cc__files-container{
  display: flex;
  min-height: calc(100vh - 120px);
}
.wc-cc-fc__content{
  width: 100%;

}
.wc-cc-fc__metadata{
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

/* inside content and files */
.wc-cc-fc-content__wrapper{
  margin: 0 0 50px 50px;
  border: 1px solid rgb(224, 224, 224);
  height: calc(100vh - 175px);
  border-radius: 4px;
  overflow: auto;
}
.content_wrapper__header{
  margin: 20px;
}

/* ----DefaultContentView----- */
.wc-cc-fc-content__wrapper-default{
  margin: 0 0 50px 50px;
  border: 1px solid rgb(224, 224, 224);
  height: calc(100vh - 175px);
  border-radius: 4px;
  overflow: auto;
}
.default-repo-wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fill, 180px);
  justify-content: center;
  row-gap: 20px;
  column-gap: 40px;
  margin-top: 30px;
}

/* -----deck cover----- */
.repo-deck-cover-container{
  background-color: white;
  border-bottom: 1px solid rgb(201, 201, 201);
  border-right: 1px solid rgb(201, 201, 201);
  width: 180px;
  height: 180px;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.24);
  display: flex;
  flex-direction: column;
  /* background-color: rgb(233, 233, 233); */
}

.deck-cover__middle{
  margin: auto;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
}

.middle__deck-description{
  font-size: 14px;
  padding: 10px 0;
  background-color: rgb(233, 233, 233);
}
.middle__box{
  height: 10px;
  margin: 5px 20px;
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
}

.deck-cover__bottom{
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.dc-bottom__text{
  font-size: 12px;
  white-space: nowrap;
  width: 95%;
  text-overflow: clip;

}
.dc-bottom__settings{
  width: 20px;
  display: flex;
  justify-content: flex-end;
  color: #858585;
  cursor: pointer;
}

.dc-bottom--selected{
  background-color: #adb4ee81;
}
