/* ---------------workspace-container-------------- */

.workspace-container{
    width: 100vw;
    margin: auto;
    min-height: calc(100vh - 60px);
    display: grid;
    grid-template-columns: 250px 1fr;
    /* gap: 10px; */
    grid-auto-rows: minmax(100px, auto);
}

/* ---------------workspace-navigation-------------- */
.wc__directories-nav{
  grid-column: 1;
  grid-row: 1;
  border-bottom: 1px solid rgb(201, 201, 201);
  border-right: 1px solid rgb(201, 201, 201);
  /* padding-top: 50px; */
  padding-left: 10px;
}
/* ---------------workspace-content-------------- */
.wc__content-container{
  grid-column: 2;
  grid-row: 1;
  width: 100%;
}
.wc-cc__header{
  min-height: 60px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 8px;
}
.cc-header__bread-crumbs{
  margin-left: 50px;
  font-size: 12px;
}

/* files and metadata */
.wc-cc__files-container{
  display: flex;
  min-height: calc(100vh - 120px);
}
.wc-cc-fc__content{
  width: 100%;

}
.wc-cc-fc__metadata{
  width: 350px;
  display: flex;
  justify-content: center;
}

/* inside content and files */
.wc-cc-fc-content__wrapper{
  margin: 0 0 50px 50px;
  border: 1px solid rgb(201, 201, 201);
  min-height: calc(100vh - 175px);
  border-radius: 4px;
}
.content_wrapper__header{
  margin: 20px;
}




/* --------------Workspace directories nav--------------- */
.workspace-directories__default, .workspace-nav{
  padding: 10px;
  /* background-color: #f1f1f1; */
  border-bottom: 1px solid rgb(201, 201, 201);
  /* border-top: 1px solid rgb(201, 201, 201); */
  border-left: 7px solid #d3d3d3;
  /* box-shadow: 0 1px 2px rgba(0,0,0,0.24); */
  cursor: pointer;
  margin: 3px 0px 0px 5px;
}

.directory-nav{
  padding: 10px;
  cursor: pointer;
  margin: 2px 0px;
  margin-left: 32px;
  border-left: 7px solid #d3d3d3;
  border-bottom: 1px solid rgb(201, 201, 201);
  border-top: 1px solid #f1f1f1;
  color: #505050;
}

.workspace-directories__default:hover, .workspace-nav:hover, .directory-nav:hover{
  background-color: #EBEBEB;
}
.workspace-selected{
  padding: 10px;
  border-left: 7px solid #98ACF8;
  cursor: pointer;
  background-color: #EBEBEB;
}
.directory-selected{
  padding: 10px;
  border-left: 7px solid #98ACF8;
  background-color: #EBEBEB;
  /* border-top: 1px solid rgb(201, 201, 201); */
}
