
/* ----------header - settings, banner----------- */
.qvspw__header-wrapper{
  padding-bottom: 20px;
  width: 80%;
  margin: auto;
}

.qvspw-hw__title{
  font-size: 26px;
}

.qvspw-hw__categeories{
  color: rgb(179, 179, 179);
  font-size: 15px;
  padding: 15px 36px 5px 0;

  width: fit-content;
}
.qvspw-hw__categeories span{
  border-bottom: 1px solid #e6b8c47e;
}
.qvspw-hw__categeories span:hover{
  border-bottom: 1px solid #CD5D7D;
  color: rgba(0, 0, 0, 0.712);
  cursor: pointer;
}

.qvspw-hw__categories-wrapper{
  display: flex;
}

/* sliders */
.preview-sliders-container__elements{
  display: flex;
  justify-content: center;
}

.psc-e__count{
  padding: 6px 20px;
  color: rgb(138, 138, 138);
}

.psc-e__left-arrow, .psc-e__right-arrow{
  padding: 10px 20px;
  margin: 0px 20px;
  color: rgb(138, 138, 138);
}

.psc-e__left-arrow:hover , .psc-e__right-arrow:hover{
  background-color: #C8D9EB;
  cursor: pointer;
  color:#CD5D7D;
}


/* question preview */
.preview-questions__text{
  font-size: 20px;
  width: 70%;
  text-align: center;
  transition: transform 3s ease-out;
}
/* ----------grid for banners----------- */
.qvspw-tc__preview-questions{
  /* height: 30vh; */
  grid-column:1;
  grid-row: 1 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz-view-single-page-wrapper{
  width: 100%;
  margin: auto;
  /* background-color: white; */
  min-height: 100vh;
  margin-top: 60px;

}

.qvspw__template-wrapper{
  /* background-color: #fffcfc; */
  /* background-color: #cbdafa; */
  /* background-color: #C8D9EB; */
  background-color: #ECF2F9;
  /* background-color: #f3f0f0; */
  /* background-color: #DEEDF0; */
  padding-top: 70px;
  /* padding-bottom: 50px; */
}

.qvspw__template-container{
  /* background-color:white; */
  width: 80%;
  margin: auto;
  min-height: 45vh;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 10px;
  grid-auto-rows: 1fr 4fr;
}

.qvspw-tc__template-data, .qvspw-tc__preview-questions, .qvspw-tc__author-details, .qvspw-tc__utilities{
  background-color: white;
  border-bottom: 1px solid rgb(201, 201, 201);
  border-right: 1px solid rgb(201, 201, 201);
  border-radius: 5px;
  /* height: 50%; */
}


/* ----------template metadata----------- */
.qvspw-tc__template-data{
  grid: column 2;
  grid-row: 1 / 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 3fr 2fr 1fr;
}

/* template description */
.template-data__description{
  grid-column: 1/3;
  grid-row: 1;
  padding: 30px 60px 15px 60px;
  /* height: 190px; */
  position: relative;
}

.template-data__details{
  padding: 20px 20px 15px 60px;
}
.template-data__utilities{
  padding: 20px 60px 0px 0px;
}

.td-d__description-title{
  font-size: 20px;
}
.td-d__description-text-box{
  max-height: 70% ;
  overflow: auto;
  position: absolute;
  width: 80%;
  border-left: 1px solid #CD5D7D;
  min-height: 70%;
}

.td-d-dtb__text-description{
  font-size: 13px;
  padding-left: 10px;
  padding-top: 5px;
  color: rgb(138, 138, 138);
}

/* details */
.td-d__details-title{
  font-size: 20px;
}

.template-data__author{
  grid-column: 1/3;
  display: flex;
  justify-content: center;
  max-height: 70px;
}

.td-a__author-container{
  border-top: 1px solid #d2d5da;
  width: 90%;
  display: flex;
}

.td-d__created-ago, .td-d__amount-answered, .td-d__current-state{
  font-size: 13px;
  color: rgb(138, 138, 138);
}

.td-d__created-ago span, .td-d__amount-answered span, .td-d__current-state span{
  color: #98ACF8;
  font-weight: bold;
}

.details-container{
  border-left: 1px solid #CD5D7D;
  padding-left: 10px;
  padding-top: 5px;
}

/* utilities */
.td-u__utilities-title{
  font-size: 20px;
}
.td-u__utilities-container{
  padding-left: 10px;
  border-left: 1px solid #CD5D7D;
  padding-top: 5px;
  /* height: 54%; */
}
.td-u-uc__one, .td-u-uc__two, .td-u-uc__three{
  font-size: 13px;
  color: rgb(138, 138, 138);
}
.td-u-uc__three{
  /* opacity: 0; */
}

/* author created by */
.td-a-ac__profile-icon{
  font-size: 30px;
  color: #d2d5da;
  /* padding-top: 10px; */
  margin-left: 25px;
  display: flex;
  align-items: center;
}

.td-a-ac__created-by{
  margin-left: 10px;
  display: flex;
  align-items: center;
  padding-bottom: 1px;
  color: rgb(153, 153, 153);
  font-size: 14px;
}

.td-a-ac__created-by span{
  color: #98ACF8;
  font-size: 14px;
  margin-left: 5px;
  cursor: pointer;
  font-weight: bold;
}
.td-a-ac__created-by span:hover{
  text-decoration: underline;
}

/* -------settings and icons--------- */
.settings-and-icon{
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.sai__plus, .sai__share, .sai__star{
  margin-left: 20px;
  font-size: 20px;
  color: rgb(138, 138, 138);
  padding-top: 5px;
}
.sai__star--selected{
  margin-left: 20px;
  font-size: 20px;
  color: #98ACF8;
  padding-top: 5px;
}

.sai__plus:hover, .sai__share:hover, .sai__settings:hover, .sai__star:hover,
.sai__star--selected:hover{
  cursor: pointer;
}

/* -------------Quiz Cards Component----------- */
.qvspw__cards-wrapper{
  /* wrapper's width is 100% */
  /* background-color:rgb(249, 253, 255); */
}

.qvspw-cw__cards-container{
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  min-height: 40vh;
}

.add-card-container{
  /* margin-top: 75px; */
  margin-bottom: 75px;
}

/* ---utilities bar--- */
.qvsp-cw-cc__utilities-bar{
  width: 58%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 61px;
  margin-bottom: 1px;
}

.utilities-bar__view-options{

}

.view-options__layer{
  color: rgb(175, 175, 175);
}

.utilities-bar__settings-button{
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

/* ---footer utilities--- */
.qvsp-cw-cc__edit-button{
  cursor:pointer;
  margin-top: 75px;
  /* margin-bottom: 75px; */
  font-weight: bold;
}
