/* header - settings, stuff banner */
.qvspw__header-wrapper{
  padding-bottom: 20px;
  width: 80%;
  margin: auto;
}

.qvspw-hw__title{
  font-size: 26px;
}
.qvspw-hw__author-by{
  color: rgb(201, 201, 201);
  font-size: 15px;
}
.qvspw-hw__categeories{
  color: rgb(201, 201, 201);
  font-size: 15px;
  padding: 15px 36px 5px 0;
  border-bottom: 1px solid #fffcfc;
  width: fit-content;
}
.qvspw-hw__categeories span{
  border-bottom: 1px solid #e6b8c47e;
}
.qvspw-hw__categeories span:hover{
  border-bottom: 1px solid #CD5D7D;
  color: rgba(0, 0, 0, 0.712);
  cursor: pointer;
}

.qvspw-hw__categories-wrapper{
  display: flex;
}

/* template data + preview */
.preview-sliders-container__elements{
  display: flex;
  justify-content: center;
}

.psc-e__count{
  padding: 6px 20px;
}

.psc-e__left-arrow, .psc-e__right-arrow{
  padding: 10px 20px;
  margin: 0px 20px;
}

.psc-e__left-arrow:hover , .psc-e__right-arrow:hover{
  background-color: #C8D9EB;
  cursor: pointer;
}

/* question preview */
.preview-questions__text{
  font-size: 20px;
  width: 70%;
  text-align: center;
  transition: transform 3s ease-out;
}
.qvspw-tc__preview-questions{
  /* grid-row: 1/3; */
  /* height: 30vh; */
  grid-column:1;
  grid-row: 1 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* grid stuff */

.quiz-view-single-page-wrapper{
  width: 100%;
  margin: auto;
  /* background-color: white; */
  min-height: 100vh;
  margin-top: 60px;

}

.qvspw__template-wrapper{
  /* background-color: #fffcfc; */
  /* background-color: #cbdafa; */
  background-color: #C8D9EB;

  background-color: #ECF2F9;
  /* background-color: #f3f0f0; */
  /* background-color: #DEEDF0; */


  padding-top: 70px;
  /* padding-bottom: 50px; */
}

.qvspw__template-container{
  /* background-color:white; */
  width: 80%;
  margin: auto;
  min-height: 30vh;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 10px;
  grid-auto-rows: minmax(20px, 150px)
}

.qvspw-tc__template-data, .qvspw-tc__preview-questions, .qvspw-tc__author-details, .qvspw-tc__utilities{
  background-color: white;
  border-bottom: 1px solid rgb(201, 201, 201);
  border-right: 1px solid rgb(201, 201, 201);
  border-radius: 5px;

  /* height: 50%; */
}

.qvspw-tc__author-details{
  /* height: 50%; */
}

/* template metadata */
.qvspw-tc__template-data{
  grid: column 2;
  grid-row: 1 / 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.template-data__description{
  grid-column: 1/3;
  grid-row: 1;
  padding: 30px 60px 15px 60px;
  /* height: 190px; */
}

.template-data__details{
  padding: 0px 20px 15px 60px;
}
.template-data__utilities{
  padding: 0px 60px 0px 0px;
}
